{% extends "base.html" %} 

{% block title %} Register {% endblock %} 

{% block content %}
<div class="column is-4 is-offset-4">
  <div class="box">
    <div class="login-box">
      <div class="login-header">
        <h3 class="title inline">Register</h3>
        <a href="{{ url_for('index') }}" class="close-btn inline">&times;</a>
      </div>
      <div class="notification is-danger">
        {% for error in form.username.errors %} {{ error }} {% endfor %} {% for
        error in form.email.errors %} {{ error }} {% endfor %} {% for error in
        form.password.errors %} {{ error }} {% endfor %} {% for error in
        form.password2.errors %} {{ error }} {% endfor %}
      </div>
      <form method="post">
        {{ form.hidden_tag() }}
        <p>
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}
        </p>
        <p>
          {{ form.email.label }}<br>
          {{ form.email(size=32) }}
        </p>
        <p>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}
        </p>
        <p>
          {{ form.password2.label }}<br>
          {{ form.password2(size=32) }}
        </p>
        <div class="form-footer">
          <p>{{ form.submit(class_="sub-button") }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
